:root {
	--main-bg-color: #f0f0f0;
	--item-hover-bg: #8e44ad;
	--item-hover-color: #fff;
	--item-bg-color: #fff;
	--box-header-bg: #9b59b6;
	--box-header-color: #fff;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--main-bg-color);
}

.box {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
							0 10px 10px rgba(0,0,0,0.22);
}

.box-header {
	padding: 10px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--box-header-bg);
	color: var(--box-header-color);
}

.list {
	position: relative;
	padding: unset;
	margin: 0;
	width: 100%;	
}

.item {
	list-style: none;
	padding: 15px 40px;
	box-shadow: 0 5px 25px rgba(0,0,0,.1);
	position: relative;
	background: var(--item-bg-color);
	cursor: pointer;
	transition: all 0.3s;
}

.item:hover {
	transform: scale(1.1);
	z-index: 100;
	background: var(--item-hover-bg);
	color: var(--item-hover-color);
}

.item i {
	color: var(--item-hover-bg);
}

.item:hover i {
	color: var(--item-hover-color);
}

.right-icon {
	position: absolute;
	right: 13px;
	top: 50%;
	transform: translateY(-50%);
}

.left-icon {
	position: absolute;
	left: 13px;
	top: 50%;
	transform: translateY(-50%);
}